* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: url('../img/25501.jpg');
    background-size: cover;
}
.weather {
    width: 30vw;
    background-color:aliceblue;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.456);
}
.weather_head {
    color: aliceblue;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: orange;
}
.change_weather {
    padding: 20px;
}
.change_weather label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.change_weather #city {
    display: block;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.weather_list {
    padding: 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.w_title {
    flex-basis: 100%;
    background-color:aqua;
    text-align: center;
    padding: 5px;
}
.w_icon, .w_about {
    flex-basis: 50%;
}
.w_icon {
    display: flex;
    justify-content: center;
    align-items:center;
}
.w_icon img {
    width: 80%;
    filter: drop-shadow(0 0 5px black);
}
.w_about {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.w_content .temp {
    font-size: 40px;
}
.main {
    padding-left: 5px;
}
.min_max {
    display: flex;
    font-size: 14px;
    padding: 5px;
    justify-content: flex-start;
}
.temp_min {
    margin-right: 15px;
}
.red_error {
    color:red;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


/* ------------------Loader----------------------*/
.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.547);
}
.l-hidden {
    display: none;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fdd;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fdd transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @media screen and (max-width:1200px) {
    .weather {
        width: 40vw;
    }
  }
  @media screen and (max-width:992px) {
    .weather {
        width: 50vw;
    }
  }
  @media screen and (max-width:768px) {
    .weather {
        width: 70vw;
    }
  }
  @media screen and (max-width:576px) {
    .weather {
        width: 90vw;
    }
    .w_content .temp {
        font-size: 25px;
    }
    .min_max {
        font-size: 10px;
        padding: 5px 0;
    }
  }
